
    
   
        <h1>this is body content for privacy page</h1>
        <hr/>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, minus dolor in voluptatem iusto earum voluptatum. Maiores dolor hic, a voluptate cupiditate magni! Adipisci neque tenetur deleniti aliquam est pariatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum itaque, necessitatibus dolorem id quae repellat vero, impedit expedita nostrum tempora amet dolores iure omnis asperiores facere vel laborum pariatur possimus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ad error, iure eveniet ipsam, veritatis nisi voluptate odit vitae corrupti autem, repellat accusantium earum? Voluptatum, unde! Voluptate aut obcaecati rem?
            
        </p>
        
  